<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MORSE{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/MORSE.ico' %}">
    <link rel="stylesheet" href="{% static 'css/viewer.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>
    <div class="sidebar">
        <img src="{% static 'img/MORSE.ico' %}" alt="MORSE" class="logo-sidebar">
        <a href="{% url 'home' %}">🏠 Domů</a>
        <a href="{% url 'user_favorite' %}">⭐ Oblíbené</a>
        <a href="{% url 'user_account' %}">👤 Správa účtu</a>
        <a href="{% url 'user_settings' %}">⚙️ Nastavení</a>
        <a href="{% url 'about' %}">❓ O systému MORSE</a>
        <footer>
            &copy MORSE s.r.o. 2025
        </footer>
    </div>


    <div class="navbar">
       <div class="system-name">
  <b>M</b>unicipal <b>O</b>ffice <b>R</b>esource <b>S</b>ystem for its <b>E</b>ffectivity
</div>
        <div class="system-icons">
            <div class="icon logout" src="{% static 'img/logout.png' %}"></div>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/viewer.js' %}?v={{ STATIC_VERSION }}"></script>
</body>
</html>
