{% extends "base.html" %}

{% block title %}MORSE{% endblock %}

{% block content %}
<h1>Detail zaměstnance</h1>
<button class="back-button" onclick="history.back()">⬅ Zpět</button>
<div class="detail-wrapper">
    <div class="photo-container">
        {% if employee.image %}
            <!-- Správné zobrazení obrázku, pokud je dostupný -->
            <img src="{{ employee.image.url }}" alt="Foto zaměstnance">
        {% else %}
            <!-- Pokud obrázek není dostupný -->
            Foto není k dispozici
        {% endif %}
    </div>
    <table class="detail-table detail-info-table">
        <tbody>
            <tr>
                <th>Jméno</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>Příjmení</th>
                <td>{{ employee.surname }}</td>
            </tr>
            <tr>
                <th>Osobní číslo</th>
                <td>{{ employee.personal_number }}</td>
            </tr>
            <tr>
                <th>Pozice</th>
                <td>{{ employee.job_position }}</td>
            </tr>
            <tr>
                <th>Datum začátku zaměstnaneckého poměru</th>
                <td>{{ employee.start_date_of_employment }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Osobní kompetence pro pozici:
    {% if employee.job_position %}
        {{ employee.job_position.name }}
    {% else %}
        Pozice není přiřazena
    {% endif %}
</h2>

<ul>
    {% for competency in competencies %}
    <li>
        <strong>{{ competency.name }}</strong><br>
        <small>Platné do: {{ competency.valid_until }}</small><br>

        {% if competency.certificate %}
            <a href="{{ competency.certificate.url }}" target="_blank">📄 Certifikát</a><br>
            ✅ <label><input type="checkbox" checked disabled> Splněno</label>
        {% else %}
            ❌ <label><input type="checkbox" disabled> Nesplněno</label><br>

            <!-- Odkaz pro nahrání certifikátu, pokud má kompetence přiřazený platný PK -->
            {% if competency.pk %}
                <a href="{% url 'upload_employee_certificate' employee_pk=employee.pk competence_pk=competency.pk %}">
                    📤 Nahraj PDF certifikátu
                </a>
            {% else %}
                <p>Kompetence není přiřazena nebo není platná.</p>
            {% endif %}
        {% endif %}
    </li>
{% empty %}
    <li>Pro tuto pozici nejsou přiřazeny žádné kompetence.</li>
{% endfor %}
</ul>


{% endblock %}