{% extends "base.html" %}
{% block title %}MORSE{% endblock %}
{% block content %}
<h1>Moduly</h1>
<div id="main-tiles" class="tiles">
  <div class="tile">
    <a href="{% url 'personnel_management' %}" class="tile-content">👷‍♂️ <br>Personalistika</a>
  </div>
  <div class="tile">
    <a href="{% url 'properties' %}" class="tile-content">🏢️ <br>Nemovitosti</a>
  </div>
  <div class="tile">
    <a href="{% url 'vehicles' %}" class="tile-content">🚗️ <br>Vozidla</a>
  </div>
  <div class="tile">
    <a href="{% url 'internal_directives' %}" class="tile-content">📄 Interní dokumenty</a>
  </div>
{#  {% load user_groups %}#}
{#  {% if request.user|in_group:"tajemnik" %}#}
  <div class="tile">
    <a href="{% url 'admin:index' %}" class="tile-content">Administrace</a>
  </div>
{#  {% endif %}#}
</div>
{% endblock %}
