{% extends "base.html" %}

{% block title %}MORSE{% endblock %}

{% block content %}
    <h1>Interní dokumenty a směrnice</h1>
<button class="back-button" onclick="history.back()">⬅ Zpět</button>
<button class="back-button" onclick="window.location.href='{% url 'submit_certificate' %}'">Nahrát nový certifikát</button>
<div class="table-wrapper">
    <table id=table class="table">
        <thead>
            <tr>
                <th>Jméno a Příjmení</th>
                <th>Kategorie</th>
                <th>Nahráno</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-href="/media/internal_docs/bozp-certifikat.pdf">
                <td>Jan Novák</td>
                <td>BOZP</td>
                <td>12.03.2024 14:23</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
