{% extends "base.html" %}

{% block title %}MORSE{% endblock %}

{% block content %}
    <h1>Evidence zaměstnanců</h1>
<button class="back-button" onclick="history.back()">⬅ Zpět</button>
<form action="{% url 'employee_create' %}" method="get" style="display: inline;">
    <button type="submit" class="btn">Vytvořit nový záznam</button>
</form>
<div class="table-wrapper">
    <table id="table" class="table">
        <thead>
            <tr>
                <th data-sort="name">Jméno</th>
                <th data-sort="surname">Příjmení</th>
                <th data-sort="personal-number">Osobní číslo</th>
                <th data-sort="position">Pozice</th>
                <th data-sort="start-date-of-employment">Datum začátku zaměstnaneckého poměru</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr data-href="">
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.surname }}</td>
                    <td>{{ emp.personal_number }}</td>
                    <td>{{ emp.job_position }}</td>
                    <td>{{ emp.start_date_of_employment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="menu-dropdown" class="menu-dropdown" style="display: none;"></div>
{% endblock %}
