{% extends "base.html" %}

{% block title %}MORSE{% endblock %}

{% block content %}
<h1>Rezervace nemovitostí</h1>
<button class="back-button" onclick="history.back()">⬅ Zpět</button>
<div class="calendar">
    <h2 id="calendar-title">{{ month_name }} {{ year }}</h2>
<div id="calendar-controls">
    <div class="calendar-buttons">
        <button id="prev-month">Předchozí měsíc</button>
        <button id="next-month">Následující měsíc</button>
    </div>
    <p id="selected-date">Vybrané datum: {{ selected_day }}.{{ month }}.{{ year }}</p>
</div>
    <div class="calendar-header">
        <div>Po</div>
        <div>Út</div>
        <div>St</div>
        <div>Čt</div>
        <div>Pá</div>
        <div>So</div>
        <div>Ne</div>
    </div>
    <div class="calendar-body" id="calendar-body"></div>
</div>


<div class="properties-list">
    {% for prop in properties %}
    <div class="property{% if prop.is_usable %} usable{% else %} not-usable{% endif %}" data-id="{{ prop.id }}">
        <input type="checkbox" class="property-checkbox" {% if not prop.is_usable %}disabled{% endif %} />
        <span class="property-label">
            🏢️ {{ prop.name }}
        </span>
        <span class="property-status {% if prop.is_usable %}usable{% else %}not-usable{% endif %}">
            {% if prop.is_usable %}✅ DOSTUPNÉ{% else %}❌ NEDOSTUPNÉ{% endif %}
        </span>
    </div>
{% endfor %}
</div>


{% endblock %}