{% extends "base.html" %}

{% block title %}MORSE{% endblock %}

{% block content %}
    <h1>Vozidla</h1>
<button class="back-button" onclick="history.back()">⬅ Zpět</button>
<div class="table-wrapper">
    <table id="table" class="table">
        <thead>
            <tr>
                <th data-sort="name">Název</th>
                <th data-sort="type">Typ</th>
                <th data-sort="plate-number">SPZ</th>
                <th data-sort="technical-inspection-date">STK</th>
                <th data-sort="highway-ticket-validity">Dálniční známka</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Audi</td>
                <td>Osobní</td>
                <td>7A4 2543</td>
                <td>1.1.2027</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Iveco</td>
                <td>Dodávka</td>
                <td>7A6 5001</td>
                <td>14.4.2025</td>
                <td>Ne</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
